@import url("./styles/display.css");
@import url("./styles/width.css");
@import url("./styles/height.css");
@import url("./styles/background.css");
@import url("./styles/padding.css");
@import url("./styles/position.css");
@import url("./styles/margin.css");
@import url("./styles/border.css");
@import url("./styles/color.css");
@import url("./styles/fontSize.css");
@import url("./styles/textAlign.css");
@import url("./styles/boxShadow.css");
@import url("./styles/overflow.css");
@import url("./styles/opacity.css");
@import url("./styles/keyFrames.css");
@import url("./styles/animation.css");

.teste{
	width: 100%;
	height: 100%;
	background: red;
}

:root{
	--colorWhite: rgb(255, 255, 255);
	--colorBlack: rgb(0, 0, 0);
	--colorOrange: rgb(243, 111, 33);
	--colorBlue: rgb(30, 150, 200);
	--transitionTime: 0.5s;
	--animationDelay1: 0.5s;
	--animationDelay2: 1s;
	--animationDelay3: 1.5s;
}
body{
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
	color: var(--colorBlue);
	cursor: default;
}
::-webkit-scrollbar{
    width: 3px;
	background: none;
}
::-webkit-scrollbar-track{
    background: none;
	margin: 10px 0px;
}
::-webkit-scrollbar-thumb{
    background: var(--colorOrange);
    border-radius: 20px;
}
::-webkit-scrollbar-button{
    height: 10px;
	background: none;
    padding: 0px;
    margin: 0px;
}