@import url("./option/main.css");

.initBody>div:nth-child(2){
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 50%;
    margin: 20px 0px 0px 0px;
}