@import url("./title/main.css");
@import url("./menu/main.css");

.initBody{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: var(--colorBlue);
    padding: 10px 15px;
}