@import url("./leftSide/main.css");
@import url("./rightSide/main.css");

.initBody{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 20px 40px;
    background: var(--colorBlue);

    opacity: 0;
    animation: fadeIn var(--transitionTime) var(--animationDelay1) forwards;
}

@media screen and (max-width: 1000px){
    .initBody{
        flex-direction: column;
        padding: 20px 5px;
    }
}