@import url("./author/main.css");
@import url("./date/main.css");

.initBodyPostsPost>div:nth-child(2){
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 5px 0px 0px 0px;
}