@import url("./title/main.css");

.initBody>div:nth-child(2){
    background: var(--colorWhite);
    width: 60%;
    padding: 10px 15px;
    border-radius: 15px;
}

@media screen and (max-width: 1000px){
    .initBody>div:nth-child(2){
        width: 100%;
    }
}