.borderRadius15px{
    border-radius: 15px;
}

.borderRadius10px{
    border-radius: 10px;
}

.borderRadius15{
    border-radius: 100%;
}

.borderRadius10{
    border-radius: 10%;
}

.border1pxSolidColorBlue{
    border: 1px solid var(--colorBlue);
}