.boxShadow0px0px10px0pxColorBlue{
    box-shadow: 0px 0px 10px 0px var(--colorBlue);
}

.hBoxShadowNoneToBoxShadow0px0px10px0pxColorBlue{
    box-shadow: none;
    transition: box-shadow var(--transitionTime);
    cursor: pointer;
}

.hBoxShadowNoneToBoxShadow0px0px10px0pxColorBlue:hover{
    box-shadow: 0px 0px 10px 0px var(--colorBlue);
}