.flexColumn{
    display: flex;
    flex-direction: column;
}

.flexRow{
    display: flex;
    flex-direction: row;
}

.justifyContentSpaceBetween{
    justify-content: space-between;
}

.justifyContentFlexEnd{
    justify-content: flex-end;
}

.justifyContentCenter{
    justify-content: center;
}

.alignItemsCenter{
    align-items: center;
}