.margin0px0px20px0px{
    margin: 0px 0px 20px 0px;
}

.margin0px0px10px0px{
    margin: 0px 0px 10px 0px;
}

.margin0px20px{
    margin: 0px 20px;
}

.margin20px0px0px0px{
    margin: 20px 0px 0px 0px;
}

.rMarginNoneToMargin0px0px10px0px{
    margin: none;
}

@media screen and (max-width: 1000px){
    .rMarginNoneToMargin0px0px10px0px{
        margin: 0px 0px 10px 0px;
    }
}