.width100{
    width: 100%;
}

.width80{
    width: 80%;
}

.width70{
    width: 70%;
}

.width50{
    width: 50%;
}

.width30{
    width: 30%;
}

.width12{
    width: 12%;
}

.width50px{
    width: 50px;
}

.width200{
    width: 200%;
}

.rWidth18ToWidth100{
    width: 18%;
}

.rWidthFitContentToWidth100{
    width: fit-content;
}

.rWidth50ToWidth100{
    width: 50%;
}

@media screen and (max-width: 1000px){
    .rWidth18ToWidth100, .rWidth50ToWidth100, .rWidthFitContentToWidth100{
        width: 100%;
    }
}