@import url("./title/main.css");
@import url("./menu/main.css");

.initTop{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 15px;
    background: var(--colorBlue);
 
    opacity: 0;
    animation: fadeIn var(--transitionTime) var(--animationDelay1) forwards;
}