@import url("./author/main.css");
@import url("./date/main.css");

.initBodyLeftSideArticlesArticles>div>div:nth-child(2){
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 5px 0px 0px 0px;
    font-size: 13px;
}

.initBodyLeftSideArticlesArticles>div>div:nth-child(2)>div:nth-child(1){
    font-style: italic;
}